@charset "UTF-8";


:root{
    --orange:#FF8000;
    --black:#181717;
    --grey: #8a9597;
    --white: rgb(236, 234, 234);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body ,button, p {
    color: var(--white);
    font: 400 1rem 'Fjalla One';
}

body, html{
    background-color: var(--grey);
    height: 100vh;
    width: 100%;
}

main{
    position: relative;
    height: 100vh;
    width: 100%;
}

section#login{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--orange);
    width: 250px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);

    transition: width 0.6s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#img{
    display: block;
    background: #FF8000 url(../imgs/teste.jpg);
    background-position: center center;
    background-size: cover;
    height: 240px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}


section#login > div#form{
    display: block;
    padding: 10px;

}

div#form > h1{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
}

form div.campo{
  
    display: block;
    width: 100%;
    border-radius:4px;
    margin: 5px auto;    
}


form input[type="submit"] {
    display: block;
    font-size: 1em;
    width: 70%;
    height: 35px;
    background-color:var(--black);
    color: #dddddd;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    border-radius: 4px;
}
form input[type="submit"]:hover{
    background-color: rgb(82, 82, 82);
    }

form a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 70%;
    height: 35px;
    padding-top: 5px;
    margin-top: 4px;
    color: #dddddd ;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 auto;
}    
form a.botao:hover{
    background-color: var(--grey);
    color: #FF8000;

}

div.campo > i {
    color: #dddddd;
    padding: 3.6px;
    
}
iv.campo {
    height: 50px;
}


div.campo > input{
    background-color: #dddddd;
    transform: translateY(-8px);
    width: calc(100% - 69px);
    min-height: 30px;
    border: none;
    border-radius: 2px;

}

